[data-dropdown] {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  background: #e54;
  border: 2px solid #333;
  z-index: 300;
  top: 38px;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].ativo .dropdown-menu {
  display: block;
  animation: show-up 0.3s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: initial;
    transform: initial;
  }
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #e54;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.dropdown-menu li a:hover {
  color: #fff;
}

/* #sobre ul {
  display: none;
  position: absolute;
}

#sobre:hover ul {
  display: block;
  border: 2px solid #222;
  background: #e54;
  animation: show-menu 0.3s forwards;
}

@keyframes show-menu {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: initial;
    transform: initial;
  }
}

#sobre:hover ul::before {
  content: "";
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #e54;
  position: absolute;
  top: -10px;
}

#sobre ul a:hover {
  color: #fff;
}

[data-button="menu"] {
  background: #222;
  padding: 0.5rem 1rem 0.5rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
  border-radius: 0.25rem;
  position: relative;
  border: none;
}

[data-button="menu"]::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  background: #fff;
  width: 12px;
  height: 2px;
  box-shadow: 0 -4px 0 0px #fff, 0 4px 0 0px #fff;
  position: absolute;
  top: 14px;
  left: 15px;
  animation: button-anime 0.3s forwards;
} */
