[data-dropdown] {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  background: #e54;
  border: 2px solid #333;
  z-index: 300;
  top: 38px;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].ativo .dropdown-menu {
  display: block;
  animation: show-up 0.3s forwards;
}

@media (max-width: 700px) {
  [data-dropdown] .dropdown-menu {
    display: none;
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: initial;
    transform: initial;
  }
}

.dropdown-menu::before {
  content: "";
  position: relative;
  display: block;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #e54;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.dropdown-menu li a:hover {
  color: #fff;
}

