[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  .js [data-menu="button"] {
    display: flex;
    align-items: center;
    margin: 10px;
    color: #fff;
    background: #222;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "IBM Plex Mono", monospace;
    border: none;
    position: relative;
    z-index: 300;
  }
  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px currentColor, 0 -4px currentColor;
    margin-right: 5px;
    transition: transform 0.3s;
  }
  .js [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  .js [data-menu="list"] {
    display: none;
    position: absolute;
    width: 160px;
    z-index: 200;
    background: #fb5;
    padding: 60px 0 20px 0;
    top: 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .js [data-menu="list"].active {
    display: block;
    animation: show-left 0.5s forwards;
  }
  .js .dropdown-menu {
    position: static;
    border: none;
  }
}
